
:root{
    --cor01: #1D1F24;
    --cor02: #30353D;
    --cor03: #5A6270;
    --cor04: #44474C;
    --cor05: #545C69;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, var(--cor01) 50%, var(--cor03));
}

header{
    background-color: var(--cor01);
    padding: 40px;
    padding-top: 10px;
    color: aliceblue;
    text-align: center;
}

header>h1{
    font-size: 40px;
    padding-top: 2px;
    padding-bottom: 20px;
}
main{
    height: 100vh;
}

#tela{
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
}

#tela:hover{
    background-color: var(--cor04);
    color: white;
}
